{% extends 'base.html.twig' %}

{% block title %}
    Not found
{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include('component/navbar.html.twig') }}
        <div style="text-align: center;padding-bottom: 1rem">
            <br>
            <h1 class="fw-normal" style="font-size: 8rem;">404</h1>
            <h4 style="margin-bottom: .8rem">Page not found :(</h4>
            {% if referer is defined and referer is not null and referer != currentUrl %}
                <a href="{{ referer }}">Back</a>
            {% endif %}
        </div>
    </main>
{% endblock %}
