<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Movary API</title>
    <link rel="stylesheet" href="/css/swagger-ui-4.5.0.css" />
</head>
<body>
<div id="swagger-ui"></div>
<script src="/js/swagger-ui-bundle-4.5.0.js" crossorigin></script>
<script>
    window.onload = () => {
        window.ui = SwaggerUIBundle({
            url: 'http://127.0.0.1/api/openapi.json',
            dom_id: '#swagger-ui',
        });
    };
</script>
</body>
</html>
