<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Movary API</title>
    <link rel="stylesheet" href="/css/swagger-ui-5.12.0.css"/>
</head>
<body>
<div id="swagger-ui"></div>
<script src="/js/swagger-ui-bundle-5.12.0.js" crossorigin></script>
<script>
    window.onload = () => {
        window.ui = SwaggerUIBundle({
            url: "{{ openApiJsonUrl }}",
            dom_id: '#swagger-ui',
        });
    };
</script>
</body>
</html>
