{% extends 'base.html.twig' %}

{% block title %}
    Create user
{% endblock %}

{% block scripts %}
    {{ vite('js/create-user.js') }}
{% endblock %}

{% block body %}
    <script>
        if ("{{ theme }}" === 'dark') document.getElementsByTagName('body')[0].classList.add('bg-dark')
    </script>
    <main role="main" class="form-signin w-100 m-auto text-center">
        <form action="/create-user" method="post" enctype="multipart/form-data">
            <h1 class="">Movary</h1>
            <p>{{ subtitle }}</p>
            <div class="form-floating" style="margin-bottom: 0.3rem">
                <input type="email" name="email" class="form-control" id="floatingEmail" placeholder="name@example.com" required>
                <label for="floatingEmail">Email address <span class="text-danger">*</span></label>
            </div>
            <div class="form-floating" style="margin-bottom: 0.3rem">
                <input type="text" name="name" class="form-control" id="floatingName" placeholder="name" required>
                <label for="floatingName">Username <span class="text-danger">*</span></label>
            </div>
            <div class="form-floating" style="margin-bottom: 0.3rem">
                <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" minlength="8" required>
                <label for="floatingPassword">Password <span class="text-danger">*</span></label>
            </div>
            <div class="form-floating" style="margin-bottom: 1rem">
                <input type="password" name="repeatPassword" class="form-control" id="floatingRepeatPassword" placeholder="Repeat password" minlength="8" required>
                <label for="floatingRepeatPassword">Repeat password <span class="text-danger">*</span></label>
            </div>
            {% if errorPasswordNotEqual == true %}
                <div class="alert alert-danger" role="alert">
                    Passwords not equal
                </div>
            {% endif %}
            {% if errorPasswordTooShort == true %}
                <div class="alert alert-danger" role="alert">
                    Password must be at least 8 characters
                </div>
            {% endif %}
            {% if errorUsernameInvalidFormat == true %}
                <div class="alert alert-danger" role="alert">
                    Username must consist of only letters and numbers
                </div>
            {% endif %}
            {% if errorUsernameUnique == true %}
                <div class="alert alert-danger" role="alert">
                    Username is already used
                </div>
            {% endif %}
            {% if errorEmailUnique == true %}
                <div class="alert alert-danger" role="alert">
                    Email is already used
                </div>
            {% endif %}
            {% if missingFormData == true %}
                <div class="alert alert-danger" role="alert">
                    Please fill out all fields
                </div>
            {% endif %}
            <button class="w-100 btn btn-lg btn-primary" type="submit">Create</button>
        </form>
    </main>
{% endblock %}
