{% extends 'base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include('component/navbar.html.twig') }}

        <div style="text-align: center;padding-top: 1rem">
            {% if failedLogin == true %}
                <div class="alert alert-danger" role="alert" style="margin-bottom: 0.7rem!important;">
                    Invalid password
                </div>
            {% endif %}
        </div>

        <form action="/login" method="post" enctype="multipart/form-data">

            <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">

            <div class="checkbox" style="padding-top: 0.5rem;padding-bottom: 0.5rem;padding-left: 0.1rem;">
                <label style="color: #495057;">
                    <input type="checkbox" value="true" name="rememberMe"> Remember me
                </label>
            </div>
            <div style="text-align: center">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </form>
    </main>
{% endblock %}
