{% extends 'base.html.twig' %}

{% block title %}
    Settings - Password
{% endblock %}

{% block stylesheets %}
    <link href="/css/settings.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="/js/settings-account-password.js"></script>
{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include('component/navbar.html.twig') }}

        <div style="text-align: center;">
            {{ include('component/settings-nav.html.twig') }}

            <div style="padding-top: 1rem">
                <h5>Password change</h5>
                <div class="mb-3">
                    <label for="currentPassword" class="form-label"><b>Current password</b> <span class="text-danger">*</span></label>
                    <input type="password"
                           class="form-control"
                           id="currentPassword"
                           required
                           minlength="8"
                           {% if coreAccountChangesDisabled == true %}disabled{% endif %}
                           style="text-align: center;">
                    <div id="currentPassword" class="form-text">Enter your current password</div>
                </div>

                <div class="mb-3">
                    <label for="newPassword" class="form-label"><b>New password</b> <span class="text-danger">*</span></label>
                    <input type="password"
                           class="form-control"
                           id="newPassword"
                           required
                           minlength="8"
                           {% if coreAccountChangesDisabled == true %}disabled{% endif %}
                           style="text-align: center;">
                    <div id="currentPassword" class="form-text">Must be at least 8 characters long</div>
                </div>

                <div class="mb-3">
                    <label for="newPasswordRepeat" class="form-label"><b>Repeat new password</b> <span class="text-danger">*</span></label>
                    <input type="password"
                           class="form-control"
                           id="newPasswordRepeat"
                           required minlength="8"
                           {% if coreAccountChangesDisabled == true %}disabled{% endif %}
                           style="text-align: center;">
                    <div id="newPasswordRepeat" class="form-text">Must match new password</div>
                </div>

                <div id="alertChangePasswordDiv"></div>

                <button class="btn btn-primary"
                        type="button"
                        id="changePasswordUpdateButton"
                        {% if coreAccountChangesDisabled == true %}disabled{% endif %}>
                    Submit
                </button>
            </div>
        </div>
    </main>
{% endblock %}
