{% extends 'base.html.twig' %}

{% block title %}
    Settings - Netflix
{% endblock %}

{% block scripts %}
    <script src="/js/settings-netflix.js"></script>
{% endblock %}

{% block stylesheets %}
    <link href="/css/settings.css" rel="stylesheet">
    <link href="/css/netflix.css" rel="stylesheet">
    <link href="/css/bootstrap-icons-1.10.2.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include('component/navbar.html.twig') }}
        <div style="text-align: center;">
            {{ include('component/settings-nav.html.twig') }}
            <div style="padding-top: 1rem">
                <h5>Import Netflix activity</h5>
                <div class="alert alert-secondary" role="alert" style="padding-top: 0.5rem;padding-bottom: 0.5rem">
                    <b>Download your Netflix history</b>
                    <br/>
                    Go to <a href="https://www.netflix.com/settings/viewed">https://www.netflix.com/settings/viewed</a> to view your Netflix history and scroll down to click on the
                    'download all' link.
                    <br/>
                    Upload this CSV file down below. This can take a while for big histories.
                    <br>
                    Check/fix the auto generated import list in the table and press the import button.
                </div>

                <div class="mb-3">
                    <label class="form-label" for="netflixCsvInput">Upload Your CSV File</label>
                    <input id="netflixCsvInput" class="form-control" accept="text/csv" name="csvinput" type="file" required="true"/>
                    <button class="btn btn-primary" name="button" onclick="uploadNetflixHistory()" type="button" style="margin-top: 1rem"> Upload File</button>
                </div>

                <hr>

                <div class="input-group mb-3">
                    <label for="selectFilterInput" class="input-group-text">Filter</label>
                    <select id="selectFilterInput" onchange="updateTable()" class="form-select" disabled>
                        <option value="all">All</option>
                        <option value="notfound">Not found</option>
                    </select>
                    <label for="amountToShowInput" class="input-group-text">Per page</label>
                    <select id="amountToShowInput" onchange="updateTable()" class="form-select" disabled>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="all">All</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <label for="searchInput" class="input-group-text">Search table</label>
                    <input type="text" class="form-control disabled" onkeyup="searchTable()" id="searchInput" disabled/>
                </div>

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date watched</th>
                        <th scope="col">Netflix name</th>
                        <th scope="col">TMDB item</th>
                    </tr>
                    </thead>
                    <tbody id="netflixTableBody">
                    <tr>
                        <td colspan="4">All your uploaded Netflix data will appear here</td>
                    </tr>
                    </tbody>
                </table>

                <nav aria-label="Page navigation">
                    <ul class="pagination align-self-center justify-content-center">
                        <li class="page-item disabled"><a class="page-link">Previous</a></li>
                        <li class="page-item disabled"><a class="page-link">#</a></li>
                        <li class="page-item disabled"><a class="page-link">Next</a></li>
                    </ul>
                    <button type="button"
                            class="btn btn-primary disabled mb-3"
                            id="importNetflixButton"
                            onclick="importNetflixHistory();"
                            disabled>
                        Import data
                    </button>
                </nav>
            </div>
        </div>
    </main>

    <!-- Modal to search for other TMDB items -->
    <div class="modal fade modal-lg" id="tmdbmodal" tabindex="-1" role="dialog" aria-labelledby="TMDBModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TMDBModalTitle">Replace matched movie</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <label for="searchtmdb" class="form-label">Search for better match on TMDB</label>
                        <form class="input-group mb-3">
                            <input type="text" class="form-control" name="searchtmdb" id="searchtmdb">
                            <button class="btn btn-success" type="submit" id="searchtmdbbtn" onclick="searchTMDB(event)"><i class="bi bi-search"></i></button>
                        </form>
                        <div id="tmdbsearchresults" class="row justify-content-center"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="saveTMDBItem()">Save</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
