{% extends 'base.html.twig' %}

{% block title %}
    Settings - Jellyfin
{% endblock %}

{% block scripts %}
    <script src="/js/settings-integration-jellyfin.js"></script>
{% endblock %}

{% block stylesheets %}
    <link href="/css/settings.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include('component/navbar.html.twig') }}

        <div style="text-align: center;">
            {{ include('component/settings-nav.html.twig') }}

            <div style="padding-top: 1rem">
                <h5>Jellyfin webhook url</h5>

                <p class="text-muted" style="margin-bottom: 0.5rem">
                    Keep Movary automatically up to date with your latest watches in Jellyfin.
                </p>

                <div class="alert alert-secondary" role="alert" style="padding-top: 0.5rem;padding-bottom: 0.5rem">
                    <b>Configuration</b>
                    <br style="margin-bottom: 0.5rem">
                    Requires activated <a href="https://github.com/jellyfin/jellyfin-plugin-webhook" target="_blank">webhook plugin</a> in Jellyfin
                    <br style="margin-bottom: 0.5rem">
                    Add a <b>Generic Destination</b> with the generated webhook url and only activate:
                    <ul style="margin-bottom: 0">
                        <li>Notification Type => "Playback Stop"</li>
                        <li>User Filter => Choose your user</li>
                        <li>Item Type => "Movies" + "Send All Properties (ignores template)"</li>
                    </ul>
                </div>

                <div id="jellyfinWebhookUrl" class="overflow-auto text-nowrap webhookUrl"
                     style="font-size:1rem;margin-top: 1rem;margin-bottom: 1rem;">
                    <div class="spinner-border spinner-border-sm" role="status" id="loadingSpinner" style="margin-top: .1rem">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>

                <div id="alertWebhookUrlDiv"></div>

                <button id="deleteJellyfinWebhookIdButton" type="button" class="btn btn-danger {% if jellyfinWebhookUrl == '-' %}disabled{% endif %}"
                        onclick="deleteJellyfinWebhookId()">
                    Delete url
                </button>
                <button type="button" class="btn btn-primary " onclick="regenerateJellyfinWebhookId()">Regenerate url</button>
            </div>

            <hr>

            <h5>Scrobble Options</h5>

            <form action="/settings/jellyfin" method="POST">
                <div style="padding-bottom: 1rem;padding-top: 0.5rem">
                    <input class="form-check-input"
                           type="checkbox"
                           value="1"
                           id="scrobbleWatchesCheckbox"
                           name="scrobbleWatches"
                           {% if jellyfinWebhookUrl == '-' %}disabled{% endif %}
                            {% if scrobbleWatches == true %}checked{% endif %}
                           style="margin-right: 0.2rem">
                    <label class="form-check-label" for="scrobbleWatchesCheckbox">Scrobble completed watches</label>
                </div>

                {% if jellyfinScrobblerOptionsUpdated == true %}
                    <div class="alert alert-success alert-dismissible" role="alert" style="margin-left: 5%;margin-right: 5%;margin-bottom: 1rem!important;">
                        Jellyfin scrobble options were updated.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}

                <button type="submit" class="btn btn-primary" {% if jellyfinWebhookUrl == '-' %}disabled{% endif %} id="saveButton">Save</button>
            </form>
        </div>
    </main>
{% endblock %}
