{% extends 'base.html.twig' %}

{% block title %}
    Settings - Jellyfin
{% endblock %}

{% block scripts %}
    <script src="/js/settings-netflix.js"></script>
{% endblock %}

{% block stylesheets %}
    <link href="/css/settings.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include('component/navbar.html.twig') }}

        <div style="text-align: center;">
            {{ include('component/settings-nav.html.twig') }}
            <div style="padding-top: 1rem">
                <h5>Import Netflix activity</h5>
                <div class="alert alert-secondary" role="alert" style="padding-top: 0.5rem;padding-bottom: 0.5rem">
                    <b>Download your Netflix history</b>
                    <br/>
                    Go to <a href="https://www.netflix.com/settings/viewed">https://www.netflix.com/settings/viewed</a> to view your Netflix history and scroll down to click on the 'download all' link.
                    <br/>
                    Upload this CSV file down below.
                </div>
                <form>
                    <label class="form-label" for="file">Upload Your CSV File</label>
                    <input id="netflixfile" class="form-control" accept="text/csv" name="csvinput" type="file" required="true"/>
                    <button class="btn btn-primary" name="submit" onclick="importNetflixHistory()" type="button"> Upload File </button>
                </form>
                <br/>
                <label for="amounttoshow">Number of items on one page:</label>
                <select id="amounttoshow" class="form-select">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="all">All</option>
                </select>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date watched</th>
                            <th scope="col">Netflix name</th>
                            <th scope="col">Fetched TMDb</th>
                        </tr>
                    </thead>
                    <tbody id="netflixtbody">
                        <tr>
                            <td colspan="4">All your uploaded Netflix data will appear here</td>
                        </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-end">
                        <li class="page-item disabled" style="cursor: not-allowed"><a class="page-link">Previous</a></li>
                        <li class="page-item disabled" style="cursor: not-allowed"><a class="page-link">#</a></li>
                        <li class="page-item disabled" style="cursor: not-allowed"><a class="page-link">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </main>
{% endblock %}