{% extends 'base.html.twig' %}

{% block title %}
    Settings - Jellyfin
{% endblock %}

{% block scripts %}
    <script src="/js/settings-integration-jellyfin.js"></script>
{% endblock %}

{% block stylesheets %}
    <link href="/css/settings.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include('component/navbar.html.twig') }}

        <div style="text-align: center;">
            {{ include('component/settings-nav.html.twig') }}

            <div style="padding-top: 1rem">
                <h5>Jellyfin webhook url</h5>

                <p class="text-muted" style="margin-bottom: 0.5rem">
                    Keep Movary automatically up to date with your latest watches in Jellyfin.
                </p>

                <div class="alert alert-secondary" role="alert" style="padding-top: 0.5rem;padding-bottom: 0.5rem">
                    <b>Configuration</b>
                    <br style="margin-bottom: 0.5rem">
                    Requires activated <a href="https://github.com/jellyfin/jellyfin-plugin-webhook" target="_blank">webhook plugin</a> in Jellyfin
                    <br style="margin-bottom: 0.5rem">
                    Add a <b>Generic Destination</b> with the generated webhook url and only activate:
                    <ul style="margin-bottom: 0">
                        <li>Notification Type => "Playback Stop"</li>
                        <li>User Filter => Choose your user</li>
                        <li>Item Type => "Movies" + "Send All Properties (ignores template)"</li>
                    </ul>
                </div>

                <div id="jellyfinWebhookUrl"
                     class="overflow-auto text-nowrap webhookUrl"
                     data-active="{{ isActive }}"
                     style="font-size:1rem;margin-top: 1rem;margin-bottom: 1rem;">
                    {{ jellyfinWebhookUrl }}
                </div>

                <div id="alertWebhookUrlDiv">
                    <div class="alert alert-warning {% if isActive != '' %}d-none{% endif %}"
                         role="alert"
                         style="margin-left: 5%;margin-right: 5%;margin-bottom: 1rem!important;">
                        Webhook disabled - {% if currentUserIsAdmin == true %}<a href="/settings/server/general">Application url</a>{% else %}Application url{% endif %} required
                    </div>
                </div>

                <button id="deleteJellyfinWebhookButton"
                        type="button"
                        class="btn btn-danger {% if jellyfinWebhookUrl == '-' %}disabled{% endif %}"
                        onclick="deleteJellyfinWebhook()">
                    Delete url
                </button>
                <button type="button" class="btn btn-primary  {% if isActive == '' %}disabled{% endif %}" onclick="regenerateJellyfinWebhook()">Regenerate url</button>
            </div>

            <h5 style="margin-top: 1rem">Options</h5>

            <div style="padding-bottom: 1rem;padding-top: 0.5rem">
                <input class="form-check-input"
                       type="checkbox"
                       value="1"
                       id="scrobbleWatchesCheckbox"
                       name="scrobbleWatches"
                       {% if jellyfinWebhookUrl == '-' %}disabled{% endif %}
                        {% if scrobbleWatches == true %}checked{% endif %}
                       style="margin-right: 0.2rem">
                <label class="form-check-label" for="scrobbleWatchesCheckbox">Scrobble completed watches</label>
            </div>

            <div id="alertWebhookOptionsDiv"></div>

            <button type="submit" class="btn btn-primary" {% if jellyfinWebhookUrl == '-' %}disabled{% endif %} id="saveButton" onclick="updateScrobbleOptions()">Save</button>

            <hr>

            <h5>Jellyfin Authentication</h5>

            <p class="text-muted" style="padding-bottom: 0">
                For personal data access you have to authenticate against Jellyfin.
            </p>

            <div id="authenticateWithPlexDiv" class="{% if jellyfinTokenExists == true %}d-none{% endif %}">
                <button type="button" class="btn btn-primary mb-3" onclick="authenticateWithJellyfin()">Authenticate</button>
            </div>
            <div id="removeAuthenticationWithPlexDiv" class="{% if jellyfinTokenExists == false %}d-none{% endif %}">
                <button type="button" class="btn btn-danger mb-3" onclick="removeJellyfinAuthentication()">Remove Authentication</button>
            </div>
        </div>
    </main>
{% endblock %}
