{% extends 'base.html.twig' %}

{% block title %}
    Settings - Jellyfin
{% endblock %}

{% block scripts %}
    <script src="/js/settings-netflix.js"></script>
{% endblock %}

{% block stylesheets %}
    <link href="/css/settings.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include('component/navbar.html.twig') }}

        <div style="text-align: center;">
            {{ include('component/settings-nav.html.twig') }}
            <div style="padding-top: 1rem">
                <h5>Import Netflix activity</h5>
                <div class="alert alert-secondary" role="alert" style="padding-top: 0.5rem;padding-bottom: 0.5rem">
                    <b>Download your Netflix history</b>
                    <br/>
                    Go to <a href="https://www.netflix.com/settings/viewed">https://www.netflix.com/settings/viewed</a> to view your Netflix history and scroll down to click on the 'download all' link.
                    <br/>
                    Upload this CSV file down below.
                </div>
                <form>
                    <label class="form-label" for="file">Upload Your CSV File</label>
                    <input id="netflixfile" class="form-control" accept="text/csv" name="csvinput" type="file" required="true"/>
                    <button class="btn btn-success" name="submit" onclick="importNetflixHistory()" type="button"> Upload File </button>
                </form>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date watched</th>
                            <th scope="col">Netflix name</th>
                            <th scope="col">Fetched TMDb</th>
                        </tr>
                    </thead>
                    <tbody id="netflixtbody">
                        <tr>
                            <td colspan="4">All your uploaded Netflix data will appear here</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock %}