{% extends 'base.html.twig' %}

{% block title %}
    Settings - Netflix
{% endblock %}

{% block scripts %}
    <script src="/js/settings-integration-netflix.js"></script>
{% endblock %}

{% block stylesheets %}
    <link href="/css/settings.css" rel="stylesheet">
    <link href="/css/netflix.css" rel="stylesheet">
    <link href="/css/bootstrap-icons-1.10.2.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include('component/navbar.html.twig') }}
        <div style="text-align: center;">
            {{ include('component/settings-nav.html.twig') }}

            <div style="padding-top: 1rem">
                <h5>Import Netflix activity</h5>
                <div class="alert alert-secondary" role="alert" style="padding-top: 0.5rem;padding-bottom: 0.5rem">
                    <b>Download your Netflix history</b>
                    <br/>
                    Go to <a href="https://www.netflix.com/settings/viewed">https://www.netflix.com/settings/viewed</a> to view your Netflix history and scroll down to click on the
                    'download all' link.
                    <br/>
                    Below select the downloaded CSV file and enter the used date format, then press upload (can take a while for big histories).
                    <br>
                    This will populate a table with the movie watch dates and the auto generated Netflix to TMDB matches to import.
                    <br>
                    Press the import button at the end of the page when you are ready to import watch dates from the table.
                </div>

                <div class="mb-3">
                    <label class="form-label" for="netflixCsvInput">Upload Your CSV File</label>
                    <input id="netflixCsvInput" class="form-control" accept="text/csv" name="csvinput" type="file" required="required"/>
                </div>
                <div class="input-group" style="margin-bottom: 1rem">
                    <span class="input-group-text">CSV Date Format</span>
                    <input id="netflixCsvDateFormatInput" class="form-control" placeholder="e.g. d/m/y" name="csvDateFormat" type="text" required="required"/>
                    <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#csvDateFormatHelpModal">Help</button>
                </div>

                <div class="d-none" role="alert" id="netflixCsvUploadAlert"></div>
                <button class="btn btn-primary" name="button" onclick="uploadNetflixHistory()" type="button" id="netflixCsvUploadButton" disabled>
                    Upload CSV
                </button>

                <hr>

                <div class="input-group mb-3">
                    <label for="selectFilterInput" class="input-group-text">Filter</label>
                    <select id="selectFilterInput" onchange="updateTable()" class="form-select" disabled>
                        <option value="all">All</option>
                        <option value="notfound">Not found</option>
                    </select>
                    <label for="amountToShowInput" class="input-group-text">Per page</label>
                    <select id="amountToShowInput" onchange="updateTable()" class="form-select" disabled>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="all">All</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <label for="searchInput" class="input-group-text">Search table</label>
                    <input type="text" class="form-control disabled" onkeyup="searchTable()" id="searchInput" disabled/>
                </div>

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date watched</th>
                        <th scope="col">Netflix name</th>
                        <th scope="col">TMDB item</th>
                    </tr>
                    </thead>
                    <tbody id="netflixTableBody">
                    <tr>
                        <td colspan="4">Waiting for Netflix CSV to be uploaded...</td>
                    </tr>
                    </tbody>
                </table>

                <nav aria-label="Page navigation">
                    <ul class="pagination align-self-center justify-content-center">
                        <li class="page-item disabled"><a class="page-link" style="cursor: pointer">Previous</a></li>
                        <li class="page-item disabled"><a class="page-link">#</a></li>
                        <li class="page-item disabled"><a class="page-link" style="cursor: pointer">Next</a></li>
                    </ul>
                </nav>

                <div class="d-none" role="alert" id="importAlert"></div>

                <button type="button"
                        class="btn btn-primary disabled mb-3"
                        id="importNetflixButton"
                        onclick="importNetflixHistory();"
                        disabled>
                    Import data
                </button>
            </div>
        </div>
    </main>

    <!-- Modal to search for other TMDB items -->
    <div class="modal fade modal-lg" id="tmdbSearchModal" tabindex="-1" role="dialog" aria-labelledby="tmdbSearchModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tmdbSearchModalTitle">Replace matched movie</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <label for="searchtmdb" class="form-label">Search for better match on TMDB</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="searchtmdb" id="tmdbSearchModalInput">
                            <button class="btn btn-success" type="button" onclick="searchTMDB(event)"><i class="bi bi-search"></i></button>
                        </div>
                        <div class="d-none" role="alert" id="tmdbSearchModalAlert"></div>
                        <div id="tmdbSearchResultsDiv" class="row justify-content-center"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="saveTMDBItem()">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to delete Netflix item -->
    <div class="modal fade" id="removeNetflixItemModal" tabindex="-1" role="dialog" aria-labelledby="removeNetflixItemModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeNetflixItemModalTitle">Remove Netflix item</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <p>Are you sure to delete this item? You can later import this item again</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="removeNetflixItemBtn" onclick="removeNetflixItem()">Remove</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to display help text for csv date format -->
    <div class="modal fade" id="csvDateFormatHelpModal" tabindex="-1" role="dialog" aria-labelledby="csvDateFormatHelpModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="csvDateFormatHelpModalTitle">How to find out the Netflix CSV date format</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <p>
                            Open the Netflix CSV file to see how your watch dates look like and translate this into a date format. Examples:
                        </p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Watch Date in CSV</th>
                                <th scope="col">CSV Date Format</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>24.01.23</td>
                                <td>d.m.y</td>
                            </tr>
                            <tr>
                                <td>2022/01/24</td>
                                <td>Y/m/d</td>
                            </tr>
                            <tr>
                                <td>24-01-2022</td>
                                <td>d-m-Y</td>
                            </tr>
                            </tbody>
                        </table>
                        <p> To represent the day, month and year you have the following options</p>
                        <ul>
                            <li><b>d</b> => Day of the month with two digits</li>
                            <li><b>m</b> => Month of the year with two digits</li>
                            <li><b>y</b> => Year with two digits</li>
                            <li><b>Y</b> => Year with four digits</li>
                        </ul>
                        <p> More format characters can be found
                            <a href="https://www.php.net/manual/en/datetime.format.php#refsect1-datetime.format-parameters" target="_blank">here</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
