# Enviroment
ENV=development
USER_ID=1000
HTTP_PORT=80
TIMEZONE="Europe/Berlin"
MIN_RUNTIME_IN_SECONDS_FOR_JOB_PROCESSING=15

# Database
DATABASE_HOST="mysql"
DATABASE_PORT=3306
DATABASE_NAME=movary
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_DRIVER=pdo_mysql
DATABASE_CHARSET=utf8

# Tmdb
TMDB_API_KEY=
TMDB_ENABLE_IMAGE_CACHING=1

# Letterboxed
LETTERBOXD_RATINGS_CSV_PATH="tmp/ratings.csv"

# Plex
PLEX_ENABLE_SCROBBLE=1
PLEX_ENABLE_RATING=0

# Logging
LOG_LEVEL=debug
LOG_ENABLE_STACKTRACE=1
LOG_ENABLE_FILE_LOGGING=1

# Only needed for development
DATABASE_PORT_HOST=3306
DATABASE_ROOT_PASSWORD=movary
