# This file contains an overview about all available environemnt availables.
# Uncomment and adjust the key value pairs you want to set.
# The only functional mandetory value is TMDB_API_KEY.
#
# More configuration info here: https://docs.movary.org/configuration/

###############
### GENERAL ###
###############

# REQUIRED! Get your API key here: https://www.themoviedb.org/settings/api
TMDB_API_KEY=

# Public base url (e.g. htttp://localhost) and name of the application
# APPLICATION_URL=
# APPLICATION_NAME=Movary

# Supported timezones here: https://www.php.net/manual/en/timezones.php
# TIMEZONE=UTC

# Application name, displayed e.g. as brand name in the navbar
# TMDB_ENABLE_IMAGE_CACHING=0

################
### DATABASE ###
################

# Select which database mode to use (sqlite or mysql)
# DATABASE_MODE=sqlite

# SQLite configuration
# DATABASE_SQLITE=storage/movary.sqlite

# MySQL configuration
# DATABASE_MYSQL_HOST=
# DATABASE_MYSQL_PORT=3306
# DATABASE_MYSQL_NAME=
# DATABASE_MYSQL_USER=
# DATABASE_MYSQL_PASSWORD=
# DATABASE_MYSQL_CHARSET=utf8mb4

# Disable automatic database migrations on docker container startup
# DATABASE_DISABLE_AUTO_MIGRATION=0

###############
### Logging ###
###############

# Uses RFC 5424 severity levels
# LOG_LEVEL=warning

# Enable stack traces for e.g. debugging issues, increases log size
# LOG_ENABLE_STACKTRACE=0

# Persist logs to a file in directory storage/logs
# LOG_ENABLE_FILE_LOGGING=1

################################
### Third party integrations ###
################################

# Required for Plex Authentication. Generate with e.g. openssl rand -base64 32
# PLEX_IDENTIFIER=
# PLEX_APP_NAME=Movary

# Required for Plex Authentication. Generate with e.g. openssl rand -base64 32
# JELLYFIN_DEVICE_ID=
# JELLYFIN_APP_NAME=Movary

##############
### DOCKER ###
##############

# Used as docker build arguments (get your uid via e.g. echo $UID), rebuild images on change
# USER_ID=3000
# GROUP_ID=3000

# Web ports on host the docker compose setup uses, restart containers on change
# HTTP_PORT=80
# HTTP_PORT_DOCS=8000