version: "3.5"

services:
  app_production:
    build:
      context: ./
      dockerfile: ./build/php/Dockerfile
      target: production
    user: "${USER_ID}:${USER_ID}"
    ports:
      - "8080:80"
    environment:
      TMDB_API_KEY: "${TMDB_API_KEY}"
      TMDB_ENABLE_IMAGE_CACHING: 1
      DATABASE_MODE: "mysql"
      DATABASE_MYSQL_HOST: "mysql"
      DATABASE_MYSQL_NAME: "${DATABASE_MYSQL_NAME}"
      DATABASE_MYSQL_USER: "${DATABASE_MYSQL_USER}"
      DATABASE_MYSQL_PASSWORD: "${DATABASE_MYSQL_PASSWORD}"
    volumes:
      - movary-storage:/app/storage

volumes:
  movary-storage:
