.carousel {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory; /* <- the important piece */
    margin-bottom: 0.6rem;
}
.carousel .item {
    flex-shrink: 0;
    scroll-snap-align: start; /* <- the other important piece */
}

.rating-edit-active {
    border: black solid;
    border-width: 0.1rem;
}

.PosterOptionsDiv {
    border: var(--bs-tertiary-color) 2px solid;
    width: 20vh;
    height: 10vh;
    /* color: var(--bs-tertiary-bg); */
    cursor: pointer;
    text-align: center;
    border-radius: 5%;
    margin: 0 5px 0 5px;
}

.PosterOptionsDiv:hover {
    background-color: var(--bs-tertiary-color);
}

.TMDBPosterImage, .SelectedPoster {
    cursor: pointer;
}

.TMDBPosterImage:hover, .SelectedPoster {
    filter: brightness(50%);
}