.carousel {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory; /* <- the important piece */
    margin-bottom: 0.6rem;
}
.carousel .item {
    flex-shrink: 0;
    scroll-snap-align: start; /* <- the other important piece */
}

.rating-edit-active {
    border: black solid;
    border-width: 0.1rem;
}

.hero {
    height: 20rem;
    background-position: center;
    background-size: cover;
}

.covered-img {
    background:url('/images/backdrop.jpg');
    opacity: .25;

    background-size:cover; /* cover will scale the image so that the smallest dimension = the widest dimension of the box */
    background-position:center; /* vs the top-left that is default */

    position:absolute; /* take me out of the render context! let me define my own positioning */
}
