[trakt]
username =
clientId =
clientSecret =

[tmdb]
apiKey =

[database]
driver = "pdo_mysql"
host = "movary-db"
name = "movary"
username = "movary"
password = "movary"
charset = "utf8"

[logger]
file = "tmp/app.log"
logLevel = "debug"
