parameters:
	level: 8
	paths:
		- ../src
		- ../tests
	ignoreErrors:
		-
			identifier: missingType.iterableValue
		-
		    message: '#Parameter \#2 \$level of class Monolog\\Handler\\StreamHandler#'
		    path: ../src/Factory.php
		-
		    message: '#Call to an undefined method PHPUnit\\Framework\\MockObject\\MockObject|#'
		    path: ../tests/unit/*
includes:
	- ../vendor/phpstan/phpstan-phpunit/extension.neon
