<div class="modal fade" id="dashboardRowsHelpModal" tabindex="-1" aria-labelledby="dashboardRowsHelpModal" aria-hidden="true" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Dashboard rows customization</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="appReleaseModalBody" style="text-align: start">
                <p>You have the following customization options for your dashboard rows:</p>

                <h6>Visibility (toggle)</h6>
                <p>Decide if a row is shown or hidden on your dashboard</p>
                <ul>
                    <li style="margin-bottom: .5rem;">
                        <button type="button" class="btn btn-primary" style="margin-right: .2rem"><i class="bi bi-eye"></i></button>
                        Row is visible
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary" style="margin-right: .2rem"><i class="bi bi-eye-slash"></i></button>
                        Row is hidden
                    </li>
                </ul>

                <h6>Extended (toggle)</h6>
                <p>Decide if a row is maximized or minimized on your dashboard</p>
                <ul>
                    <li style="margin-bottom: .5rem">
                        <button type="button" class="btn btn-primary" style="margin-right: .2rem"><i class="bi bi-chevron-expand"></i></button>
                        Row is maximized
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary" style="margin-right: .2rem"><i class="bi bi-chevron-contract"></i></button>
                        Row is minimized
                    </li>
                </ul>

                <h6>Position</h6>
                <p>Decide the order of the rows on your dashboard</p>
                <ul>
                    <li style="margin-bottom: .5rem">
                        <button type="button" class="btn btn-primary" style="margin-right: .2rem"><i class="bi bi-arrow-up"></i></button>
                        Move row up
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary" style="margin-right: .2rem"><i class="bi bi-arrow-down"></i></button>
                        Move row down
                </ul>
            </div>
        </div>
    </div>
</div>
