<div class="modal fade" id="moreModal" tabindex="-1" aria-labelledby="moreModal" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">More</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-primary" id="refreshTmdbDataButton" onclick="refreshTmdbData()">Refresh TMDB data</button>
                    <button type="button" class="btn btn-primary {% if person.isHiddenInTopLists == false %}d-none{% endif %}" id="showInTopListsButton" onclick="showInTopLists()">Show in Top Lists</button>
                    <button type="button" class="btn btn-primary {% if person.isHiddenInTopLists == true %}d-none{% endif %}" id="hideInTopListsButton" onclick="hideInTopLists()">Hide in Top Lists</button>
                </div>
            </div>

            <div id="alertMovieOptionModalDiv" style="margin-left: 1rem;margin-right: 1rem;text-align: center"></div>
        </div>
    </div>
</div>
