<div class="modal fade" id="addTwoFactorAuthenticationModal" tabindex="-1" role="dialog" data-bs-backdrop="static" aria-labelledby="addTwoFactorAuthenticationModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTwoFactorAuthenticationModalTitle">Add Two-Factor Authentication</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="padding-bottom: 0">
                
            </div>
            <div class="modal-footer d-none" id="logPlayModalFooter">
            </div>
        </div>
    </div>
</div>