<div class="modal fade" id="passwordResetModal" tabindex="-1" aria-labelledby="passwordResetModal" aria-hidden="true" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Create password reset</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="padding-bottom: 0!important;">
                <div class="mb-3">
                    <label for="userIdSelect" class="form-label">User <span class="text-danger">*</span></label>
                    <select class="form-control" id="passwordResetModalUserIdSelect" required>
                        <option value="" disabled selected></option>
                        {% for user in users %}
                            <option value="{{ user.id }}">{{ user.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="userModalNameInput" class="form-label">Expires in hours <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="expirationInHours" value="24" required>
                </div>
                <div id="userModalAlerts"></div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="createPasswordResetButton">Create</button>
            </div>
        </div>
    </div>
</div>
