<div class="modal fade" id="traktImportHistory" tabindex="-1" aria-labelledby="traktImportHistory" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Import history</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="text-align: left!important;">
                Are you sure you want to import the Trakt.tv movie history? <br>
                This will only add missing data and not change existing.
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-warning" onclick="traktImportHistory()">Import</button>
            </div>
        </div>
    </div>
</div>
