<div class="modal fade modal-sm" id="removeFromWatchlistModal" tabindex="-1" aria-labelledby="removeFromWatchlistModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeFromWatchlistModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-primary" onclick="goToMovie()">Go to movie</button>
                    <button type="button" class="btn btn-primary" onclick="removeFromWatchList()">Remove from watchlist</button>
                </div>
            </div>
        </div>
  </div>
</div>
