<div class="modal fade" id="jobsRemoveAllModal" tabindex="-1" aria-labelledby="jobsRemoveAllModal" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Remove all jobs</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="text-align: left!important;">
                Are you sure you want to remove all jobs? <br>
                This will not stop jobs currently in progress.
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger"  onclick="removeAllJobs()">Delete</button>
            </div>
        </div>
    </div>
</div>
