<div class="modal fade" id="moreModal" tabindex="-1" aria-labelledby="moreModal" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">More</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-grid gap-2">
                    <button type="button"
                            class="btn btn-primary"
                            id="watchlistButton"
                            onclick="toggleWatchlist({{ isOnWatchlist }})">
                        {{ isOnWatchlist == true ? 'Remove from' : 'Add to' }} Watchlist
                    </button>
                    <button type="button"
                            class="btn btn-primary"
                            id="whereToWatchModalButton"
                            data-bs-target="#whereToWatchModal"
                            data-bs-toggle="modal"
                            onclick="showWhereToWatchModal({{ movie.tmdbId }})">
                        Where to watch
                    </button>
                    <button type="button" class="btn btn-primary" id="refreshTmdbDataButton" onclick="refreshTmdbData()">Refresh TMDB data</button>
                    <button type="button" class="btn btn-primary" id="refreshImdbRatingButton" onclick="refreshImdbRating()">Refresh IMDb rating</button>
                </div>
            </div>

            <div id="alertMovieOptionModalDiv" style="margin-left: 1rem;margin-right: 1rem;text-align: center"></div>
        </div>
    </div>
</div>
