<div class="modal fade" id="addWatchDateModal" tabindex="-1" aria-labelledby="addWatchDateModal" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Log play</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" value="" name="tmdbId" id="tmdbId" required>
                <div class="input-group" id="watchDateGroup">
                    <i class="bi bi-calendar-date input-group-text"></i>
                    <input type="text" class="datepicker_input form-control" placeholder="Watch date" aria-label="Watch date" name="watchDate" id="addWatchDateModalInput" required>
                </div>
                <div class="invalid-feedback" id="addWatchDateModalValidationRequiredErrorMessage" style="padding-bottom: 0;margin-bottom: 0">
                    Watch date is required!
                </div>
                <div class="invalid-feedback" id="addWatchDateModalValidationFormatErrorMessage" style="padding-bottom: 0;margin-bottom: 0">
                    Watch date format is invalid!
                </div>
                <div class="input-group" style="margin-top: 1rem">
                    <i class="input-group-text">Comment</i>
                    <textarea class="form-control" rows="1" aria-label="Comment" id="addWatchDateModalCommentInput"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="addWatchDate()">Log</button>
            </div>
        </div>
    </div>
</div>
