<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Movary</a>
        <div class="btn-group">
            <button type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/images/icon-menu.png" height="20rem" style="color: white">
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="/history">History</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/api/mostWatchedMovies">Top Movies</a></li>
                <li><a class="dropdown-item" href="/api/mostWatchedActors">Top Actors</a></li>
                <li><a class="dropdown-item" href="/api/mostWatchedGenres">Top Genres</a></li>
                <li><a class="dropdown-item" href="/api/mostWatchedProductionCompanies">Top Production Companies</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                {% if loggedIn == true %}
                    <li><a class="dropdown-item" href="/settings">Settings</a></li>
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                {% else %}
                    <li><a class="dropdown-item" href="/login">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
