<?xml version="1.0"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg xmlns="http://www.w3.org/2000/svg" width="342" height="513">
    <rect x="0" y="0" width="342" height="513" fill="#ebebeb" stroke="transparent" />
    <foreignObject x="0" y="0" width="342" height="513">
        <div xmlns="http://www.w3.org/1999/xhtml" style="height:100%; display:flex; flex-direction:column; justify-content:center; align-items:center">
            <p xmlns="http://www.w3.org/1999/xhtml" style='margin:0; font-size:2em; text-align:center; padding:0.25em; font-weight:700; color:#999; line-height:1.25; font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; '>
                {{ name }}
            </p>
        </div>
    </foreignObject>
</svg>
