<ul class="nav nav-pills nav-fill" style="margin-top: .5rem;">
    <li class="nav-item dropdown">
        <button class="nav-link dropdown-toggle {% if requestUrlPath starts with '/settings/account' %}active{% endif %}" data-bs-toggle="dropdown">
            Account
        </button>
        <ul class="dropdown-menu" style="width: 100%;">
            <li class="dropdown-item">
                <a class="nav-link {% if requestUrlPath starts with '/settings/account/general' %}active{% endif %}" href="/settings/account/general">General</a>
            </li>
            <li class="dropdown-item">
                <a class="nav-link {% if requestUrlPath starts with '/settings/account/security' %}active{% endif %}" href="/settings/account/security">Security</a>
            </li>
            <li class="dropdown-item">
                <a class="nav-link {% if requestUrlPath starts with '/settings/account/locations' %}active{% endif %}" href="/settings/account/locations">Locations</a>
            </li>
            <li class="dropdown-item">
                <a class="nav-link {% if requestUrlPath starts with '/settings/account/dashboard' %}active{% endif %}" href="/settings/account/dashboard">Dashboard</a>
            </li>
            <li class="dropdown-item">
                <a class="nav-link {% if requestUrlPath starts with '/settings/account/data' %}active{% endif %}" href="/settings/account/data">Personal data</a>
            </li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <button class="nav-link dropdown-toggle {% if requestUrlPath starts with '/settings/integrations' %}active{% endif %}" data-bs-toggle="dropdown">
            Integrations
        </button>
        <ul class="dropdown-menu" style="width: 100%;">
            <li class="dropdown-item">
                <a class="nav-link {% if requestUrlPath starts with '/settings/integrations/plex' %}active{% endif %}" href="/settings/integrations/plex">Plex</a>
            </li>
            <li class="dropdown-item">
                <a class="nav-link {% if requestUrlPath starts with '/settings/integrations/jellyfin' %}active{% endif %}" href="/settings/integrations/jellyfin">Jellyfin</a>
            </li>
            <li class="dropdown-item">
                <a class="nav-link {% if requestUrlPath starts with '/settings/integrations/emby' %}active{% endif %}" href="/settings/integrations/emby">Emby</a>
            </li>
            <li class="dropdown-item">
                <a class="nav-link {% if requestUrlPath starts with '/settings/integrations/radarr' %}active{% endif %}" href="/settings/integrations/radarr">Radarr</a>
            </li>
            <li class="dropdown-item">
                <a class="nav-link {% if requestUrlPath starts with '/settings/integrations/trakt' %}active{% endif %}" href="/settings/integrations/trakt">Trakt.tv</a>
            </li>
            <li class="dropdown-item">
                <a class="nav-link {% if requestUrlPath starts with '/settings/integrations/letterboxd' %}active{% endif %}" href="/settings/integrations/letterboxd">Letterboxd</a>
            </li>
            <li class="dropdown-item">
                <a class="nav-link {% if requestUrlPath starts with '/settings/integrations/netflix' %}active{% endif %}" href="/settings/integrations/netflix">Netflix</a>
            </li>
        </ul>
    </li>
    {% if currentUserIsAdmin == true %}
        <li class="nav-item dropdown">
            <button class="nav-link dropdown-toggle {% if requestUrlPath starts with '/settings/server' %}active{% endif %}" data-bs-toggle="dropdown">
                Server
            </button>
            <ul class="dropdown-menu" style="width: 100%;">
                <li class="dropdown-item">
                    <a class="nav-link {% if requestUrlPath starts with '/settings/server/general' %}active{% endif %}" href="/settings/server/general">General</a>
                </li>
                <li class="dropdown-item">
                    <a class="nav-link {% if requestUrlPath starts with '/settings/server/users' %}active{% endif %}" href="/settings/server/users">Users</a>
                </li>
                <li class="dropdown-item">
                    <a class="nav-link {% if requestUrlPath starts with '/settings/server/email' %}active{% endif %}" href="/settings/server/email">Email</a>
                </li>
                <li class="dropdown-item">
                    <a class="nav-link {% if requestUrlPath starts with '/settings/server/jobs' %}active{% endif %}" href="/settings/server/jobs">Jobs</a>
                </li>
            </ul>
        </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link {% if requestUrlPath starts with '/settings/app' %}active{% endif %}" href="/settings/app" id="navItemApp">App</a>
    </li>
</ul>
<hr style="margin-bottom: 0;margin-top: .5rem">
