<div style="margin-top: 1rem;margin-bottom: 1rem">
    <div class="input-group">
        <span class="input-group-text">User</span>
        <select class="form-select" id="changeUserContextSelect">
            <option disabled>Select user</option>
            {% for user in users %}
                <option value="{{ user.name }}" {% if routeUsername == user.name %}selected{% endif %}>{{ user.name }}</option>
            {% endfor %}
        </select>
    </div>
</div>

