<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="/css/bootstrap-5.2.3.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="white">
    <link rel="stylesheet" href="/css/bootstrap-icons-1.10.2.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<script>0</script>
{% block body %}{% endblock %}

<script src="/js/jquery-3.3.1.js"></script>
<script src="/js/bootstrap-5.2.3.bundle.min.js"></script>
<script src="/js/app.js"></script>

{% block scripts %}{% endblock %}
</body>
</html>
